/* personalizado */

#conteudo-do-site{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
}

#parte-de-cima{
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
  margin-top: 150px;
  width: 80%;
}

/* animação */

.titulo-card-sem-animacao{
  width: 80%;
  text-align: center;
  margin: 20px auto 20px auto;
  font-family:'Courier New', Courier, monospace;
  color: #fff;
}

.titulo-card-animado{
  width: 80%;
  text-align: center;
  margin: 10px auto 10px auto;
  font-family:'Courier New', Courier, monospace;
  color: #fff;
}
.titulo-card-animado:after{
content: '|';
margin-left: 5px;
opacity: 1;
animation: pisca .7s infinite;
}

@keyframes pisca{
  0%, 100%{
      opacity: 1;
  }
  50%{
      opacity: 0;
  }
}

/* Banner principal e card */

#banner-principal{
  position: absolute ;
  width: 100%;
}

.card.text-white.bg-primary.mb-3 {
  position:relative  !important;
  display: flex;
  align-items: center;
}

.card-header{
  min-height: 150px ;
  width: 100%;
}

#logo-nav{
  max-width: 20%;
}