/* personalizado */

#conteudo-do-site{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
}

#parte-de-cima{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
}

html {
  scroll-behavior: smooth;
}

#header-link:hover{
  cursor: pointer;
}

#espaçamento{
  height: 200px;
}

nav{
  position: fixed !important;
  width: 100%;
  z-index: 1;
  background-color: #011023ac !important;
  backdrop-filter: blur(3px);
}

/* animação de máquina de escrever */

.titulo-card-sem-animacao{
  width: 80%;
  text-align: center;
  margin: 20px auto 20px auto;
  font-family:'Courier New', Courier, monospace;
  color: #fff;
}

.titulo-card-animado{
  width: 80%;
  text-align: center;
  margin: 10px auto 10px auto;
  font-family:'Courier New', Courier, monospace;
  color: #fff;
}

.titulo-card-animado:after{
content: '_';
margin-left: 5px;
opacity: 1;
animation: pisca .7s infinite;
}

@keyframes pisca{
  0%, 100%{
      opacity: 1;
  }
  50%{
      opacity: 0;
  }
}

/* Banner principal e card */

#banner-principal{
  position: absolute ;
  margin-top: 0;
  z-index: -1;
}

.card.text-white.bg-primary.mb-3 {
  position:relative  !important;
  display: flex;
  align-items: center;
  min-width: unset !important;
  width: 50%;
}

.card.text-white.bg-primary.mb-3 .card-header{
  min-height: 150px ;
  width: 100%;
}

#logo-nav{
  max-width: 20%;
}

#area-de-botoes-principal{
  margin-top: 50px;
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative !important;
}

@media (max-width: 1000px) {
  .card.text-white.bg-primary.mb-3 {
    width: 80%;
  }

  #parte-de-cima{
    width:100%;
  }

  #banner-principal {
    width: auto;
  }

}

/* animação da seta */

@keyframes arrow-animation {
  0% {
    transform: translateY(0);
  }
  80% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.seta-para-baixo {
  display: inline-block;
  width: 35px;
  height: 35px;
  animation: arrow-animation 2s infinite;
}

.botao-seta-para-baixo{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 15px 0 15px 0;
}

.circulo-seta:hover{
  background-color: #4e7095;
}

.circulo-seta{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #2e79cf;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/* Animação de fade */

.elemento-animado {
  opacity: 0;
  transform: translateX(-50px); /* Desliza o elemento para a esquerda */
  transition: opacity 2s, transform 0.5s; /* Define a duração das transições */
}

.fade-in {
  opacity: 1;
  transform: translateX(0); /* Restaura a posição original */
}

/*sobre mim */

#sobre-mim{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 85px;
  width: 70%;
}

#sobre-mim-imagem {
  border-radius: 50%;
  width: 400px;
}

#texto-sobre-mim{
  max-width: 50rem;
  text-indent:25px;
  text-align: justify;
}

#titulo-sobre-mim{
  margin: 50px 0 50px 0;
}

.btn{
  white-space: nowrap;
}

@media (max-width: 1000px) {
  #area-de-botoes-principal{
    flex-direction: column;
    height: 90px;
  }
}

/* células de skills */

#Habilidades{
  padding-top: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.titulo-skills-animado:after{
  content: '_';
  margin-left: 5px;
  opacity: 1;
  animation: pisca .7s infinite;
}

#area-de-skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative !important;
}

#ilustracao-de-skills {
  position: absolute;
  right: 0;
  z-index: -1;
}

#img-secundaria-habilidades-edt {
  width: 1502px;
  height: 1000px;
}

#celulas-de-skills{
  width: 70%;
}

.card.text-white.bg-dark.mb-3 .card-body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

#conteudo-da-tab{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.progress{
  width: 100%;
}

#texto-da-tab{
  text-align: justify;
  text-indent: 25px;
}

.img-celula{
  max-width: 150px;
  margin: 50px 0 50px 0;
}

#apenas-mobile{
  display: none;
}

@media (max-width: 1000px) {

  #apenas-mobile{
    display:block;
  }

  #apenas-desktop{
    display: none;
  }

}

/* Projetos */


#projetos{
  width: 70%;
  text-align: center;
}

#projetos-celulas{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#projeto-item{
  max-width: 50%;
}

.card.mb-3{
  margin:25px;
}

#div-projeto-item{
  height: 750px;
}

.img-celula-projetos {
  display: block;
  width: 100%;
  height: auto;
}

.area-clicavel-img-projetos {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px; /* Define a altura desejada */
  width: 100%; /* Define a largura desejada */
  overflow: hidden; /* Oculta o conteúdo que excede os limites da div */
}

.area-clicavel-img-projetos:hover img {
  filter: brightness(0.5);
  transition: 0.5s; /* Escurece a imagem em 20% */
}

.card-text{
  text-align: justify;
}

@media (max-width: 1000px) {

  .card.mb-3{
    margin:0;
    height: auto;
  }

  #projetos-celulas{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  #projeto-item{
    max-width: 100%;
  }

}


/* footer */

footer{
  background-color: rgb(24, 24, 24);
  width: 100%;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 25px;
  margin-top: 150px;
}

#icones-footer {
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#logo-footer{
  height: 50px;
  margin-bottom: 25px;
  filter: brightness(200%);
}