.navbar-dark{
    z-index: 1000;
    background-color: rgba(18, 126, 233, 0.485)!important;
}

.container{
    flex-direction: column;
}

.card-header{
    background-color: #3549ba;
}

#conteudo-do-site{
    background-color: #212F3D;
}

/* style paleta */

body{
    background-color: #212F3D;
}

.circulo {
    width: 500px;
    height: 500px;
    background-color: #212F3D ;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.buraco{
    width: 300px;
    height: 300px;
    background-color: #212F3D;
    border-radius: 50%;
    z-index: 5;
    position: absolute;
}

.parte {
    width: 100%;
    height: 100%;
    position: absolute;
    translate: 50%50%;
    animation: 1s;
}

.parte:hover {
    filter: brightness(1.2);
    cursor: pointer;
}

#grupo-pai{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 90px;
}

.descricao{
    margin-top: 50px;
    border-radius: 10px;
    display: none;
    height: 500px;
    width: 600px;
    background-color: #2c3e55;
    color: #ffffff;
    position: relative;
}

.descricao {
    overflow-x: auto; /* Ativar a scrollbar quando necessário */
    max-height: 500px; /* Defina uma altura máxima para a div para que a scrollbar apareça quando o conteúdo ultrapassar esse limite */

    /* Estilizar a scrollbar no WebKit (Google Chrome) */
    &::-webkit-scrollbar {
        width: 12px; /* Largura da scrollbar vertical */
    }

    &::-webkit-scrollbar-thumb {
        background-color: #37689a; /* Cor do polegar da scrollbar */
        border-radius: 6px; /* Raio de borda do polegar */
    }

    &::-webkit-scrollbar-track {
        background-color: #17202d; /* Cor de fundo da scrollbar */
        border-radius: 10px;
    }
}

.titulo-descricao{
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}

.texto-descricao{
    padding: 10px;
}

.descricao2 {
    margin-top: 50px;
    border-radius: 10px;
    height: 500px;
    width: 600px;
    background-color: #2c3e55;
    color: #ffffff;
}

.botaoFechar{
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    background-color: transparent;
    border: none;
    padding: 10px;
    color: aliceblue;
    width: 50px;
}

.close-icone{
    width: 15px;
}

@media (max-width: 1200px) {
    #grupo-pai {
        flex-direction: column !important;
    }
}